body{
    background: url('../media/BG.png') no-repeat center top fixed;
    background-size: cover;
    background-attachment: scroll;
    height: auto;
}

.navbar-default{
    background-color: #333333;
    padding: 10px;
    margin: 2% 2%;
}
.nav-item{
    margin: 0 50px;
}
.navbar-default .navbar-nav li a:hover{
    color:#ffffff;
}
.navbar-default .navbar-nav li a:active{
    color:#f0f0f0;
}
.section{
    margin: 5% 0;
}

.section.line{
    background-color: #333333;
    height: 5%;
    width: 96%;
    margin: 0 auto;
}
.section.line p{
    color: #e8e8e8;
    font-family: Segoe UI;
    border-right:2px solid #cc6666;
    display: inline-block;
    padding: 0 5%;
    margin: 0;
}

.section.block{
    background: rgba(143, 146, 148, 0.5);
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
    padding-top: 3%;
}
.section.block p{
    color: #e8e8e8;
    display: inline-block;
}
.section.block.container{
    margin: 0 auto;
}
.section.block.container.hold{
    alignment: center;
    width: 50%;
}
.section.block.container.hold h1{
    color: #e8e8e8;
    font-family: Segoe UI;
    font-size: 24pt;
    border-bottom: 2px solid #e8e8e8;
    text-align: center;
}

.section.block.cont{
    background: rgba(143, 146, 148, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    padding-bottom: 3%;
}
.section.block.cont.back {
    background: rgba(15,15,15, 0.3);
    width: 15%;
    height: 10%;
    float: left;
    margin: 0 2%;
    display: inline-block;
}
.number-value{
    color: #e8e8e8;
    font-size: 60pt;
    text-align: center;
}
.time-value{
    color: #e8e8e8;
    font-size: 18pt;
    text-align: center;
}


.info-block{
    background-color: #3f3f3f;
    width: 96%;
    margin: 10px auto;
}
.info-block p{
    color: #e8e8e8;
    font-family: Myriad Pro;
    font-size: medium;
}
.info-block h5{
    color: #e8e8e8;
    font-family: Myriad Hebrew;
    font-size: medium;
}

.map-div{
    margin: 5% 0;
    position: relative;
}
.map-div img{
    display: block;
    width: 100%;
    padding: 0 2%;
}

#chart-launches, #chart-satel, #chart-people, #chart-load, #chart-cosmodrome{
    margin: 0 2%;
    width: 96%;
    height: 300px;
}

.tooltip-ex {
    position: absolute;
    display: inline-block;
    cursor: help;
    margin-right: 20px;
    display: inline-block;
    background: rgba(15,15,15, 0.0);
}

.tooltip-ex-bottom {
    top: 135%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-ex-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity .6s;
}

.tooltip-ex:hover .tooltip-ex-text {
    visibility: visible;
    opacity: 1;
}
